*{
    padding: 0;
    margin: 0;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #222;
    color: #fff;
    font-family: Arial, sans-serif;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #46ac79;
}

.firefly {
    width: 100px;
    height: 100px;
    margin: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
}
