body {
    width: 1200px;
    margin: 0 auto;
    padding: 40px;
}

main {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    margin-top: 40px;
}

header {
    background-color: #ffcc00;
    height: 150px;
}

aside {
    background-color: #9b59b6;
    height: 300px;
    width: 300px;

}

section {
    background-color: #1abc9c;
    height: 300px;
    width: 876px;

}

footer {
    background-color: #e74c3c;
    height: 100px;

}