*{
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background: #0f0f0f;
    background: linear-gradient(136deg, rgba(15, 15, 15, 1) 0%, rgba(30, 30, 30, 1) 50%, rgba(20, 20, 20, 1) 100%);
}

h2{
    margin-bottom: 20px;
    color: rgb(203, 36, 36);
}

p{
    color: rgb(173, 169, 169);
}

header {
    text-align: center;
    padding: 20px;
    color: rgb(153, 14, 14);
    background-color: #1a1a1a;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    padding: 16px;
}

.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    margin: 16px;
    text-align: center;
    width: 336px;
    display: flex;
    flex-direction: column;
    background-color: black;
}

.card img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 15px;
}

.card h2 {
    margin-top: auto;
}

/* Phone screens */
@media (max-width: 480px) {
  body {
    font-size: 14px;
  }
}

/* Tablet screens */
@media (min-width: 481px) and (max-width: 1023px) {
  body {
    font-size: 16px;
  }
}

/* Desktop screens */
@media (min-width: 1024px) {
  body {
    font-size: 18px;
  }
}