* {
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
    text-decoration:none;
}

body {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 30px;
    background: rgb(113 44 249);
    display: flex;
    justify-content:flex-start;
    align-items: center;
    z-index: 100;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

main {
    width: 3rem;
}

 header #logo {
    width: 50px;
     margin-left:10px;
    cursor: default;
}

nav a {
    font-size: 17px;
    color:#FFFFFFD9;
    padding:10px;
}

nav {
    padding: 0 30px;
    
}

input[type=search] {
    padding: 0 8px;
    margin-left: 100px;
    width:250px;
    height:40px;
    border: 1px solid #FFFFFFD9;
    border-radius:8px;
}

::placeholder {
    color: #FFFFFFA6;
    
}

input[type="search"], 
input[type="search"]:active,
input[type="search"]:focus {
    background-color: #0000001A;
}

main {
    background: #2c2e40;
    width: 100%;
    height: 100%;
}

.bgimg{
    justify-content: center;
    display: flex;
    width: 300px;
    height: auto;
}

.first_section {
    margin-top: 60px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
}

h1 {
    color: white;
    margin: 0 0 0 20px;
    font-size: 57px;
    margin:70px;
    text-align:center;  
    line-height: 1;
}

p {
    line-height: 1.3rem;
    font-size: 20px;
    text-align: center;
    color: rgba(222, 226, 230, 0.75);
    margin-bottom: 1.5rem; 
    line-height: 2.3rem;
}

h1, p {
    width: 45vw;
    margin: -20px 20px 40px;
}

.highlight {
    font-size:21.875px;
    border-radius: 5px;
    border: 1px solid black;
    padding: 10px 20px 10px 20px;
    background: rgb(222 226 230 / 7%);
    text-align: center;  
}

span {
    font-size: 20px;
    color: #FFFFFF;
}

span::before {
    content: "$";
    margin-right: 5px ;
}

.btn-clipboard {
    float: right;
    background: rgb(222 226 230 / 7%);
    margin-left: 20px;
    border: none;
}

.btn-docs {
    background: rgb(113 44 249);
    font-size: 22px;
    padding: 10.25px 5px;
    color: #ffffff;
    line-height: 1.5;
    font-weight: bold;
    width: 13vw;
    text-align: center;
    border-radius: 10px;
}

.btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
}

.second_section {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    margin-top: 40px ;
    text-decoration: none;
}

.link-secondary {
    color: #6C757D;
    text-decoration: underline;
}

.link-secondary:hover {
    color: rgb(139, 185, 254);
}

.followup-icon {
    padding: 1rem;
    border-radius: 15px;
    margin: 35px;
    width: 100px;
    text-align: center;
    background-color: #715d99;
}
 
.third_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.display-1 {
    color:#fff;
    font-size: 40px;
    font-weight: 500;
}

.display-1,p {
    margin:10px;
}

.download {
    color: rgb(110, 168, 254);
    padding: 0 0 0 30px;
    font-size: 21px;
    font-weight: 500;
    gap: .375rem;
    text-decoration: underline;
}

.download {
    margin-bottom: 100px;
}

.download:hover {
    color: rgb(139, 185, 254);
}