* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
    font-family: "Roboto Slab", serif;
}

header {
    display: flex;
}

.line-break {
    display: block;
}

.nav-bar {
    border: .5px solid rgba(119, 119, 119, 0.719);
    position: relative;
    margin-top: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    flex-grow: 1;
    font-size: 14px;
    padding-left: 120px;
    padding-right: 180px;
}

.nav-bar ol {
    list-style: none;
    display: flex;
    align-items: center;
    width: 100%;

}

.nav-bar ol li {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.search-input {
    flex-grow: 1;
}

.nav-bar ol li img {
    height: 40px;
    width: 250px;
}

.nav-bar ol li .nav-link {
    text-decoration: none;
    color: #333232;
    transition: color 0.3s;
}

.nav-bar ol li .nav-link:hover {
    color: #d16f6f;
}

.nav-bar ol li input {
    padding: 8px 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
    outline: none;
    width: 200px;
    flex-grow: 1;

}

.nav-bar ol li input::placeholder {
    color: #666;
}

.login-btn,
.signup-btn,
.about-signup-btn {
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
    text-decoration: none;
}

.login-btn:hover {
    background-color: #3787ff;
    color: white;
}

.login-btn {
    color: #0095ff;
    background-color: transparent;
    border: 2px solid #0095ff;
}

.signup-btn,
.about-signup-btn {
    background-color: #0095ff;
    color: white;
    border: none;
}

.about-signup-btn:hover,
.signup-btn:hover {
    border: 1px solid #0095ff;
    background-color: transparent;
    color: #0095ff;
}

.side-bar {
    width: 240px;
    height: 100vh;
    background-color: white;
    border-right: 1px solid rgba(0,0,0,0.1);
}

.separator {
    padding-top: 15px;
}

.side-bar-list {
    padding: 40px 16px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.side-bar-list li,
.side-bar-list li a {
    align-items: center;
    text-decoration: none;
    list-style: none;
    color: #333232;
}

main {
    display: grid;
    grid-template-columns: 240px 1fr;
    gap: 32px;
    padding: 24px 120px;
    background-color: #ffffff;
}

.main-content {
    max-width: 1100px;
}

.about {
    background-color: #F9FAFA;
    flex-grow: 1;
    padding: 40px 60px;
    overflow: hidden;
    position: relative;
    height: 500px;
    border-radius: 10px;
    margin-bottom: 40px;
}

.about h1 {
    font-size: 50px;
    position: relative;
    z-index: 0;
}

.about p {
    margin: 30px 0px;
    font-size: 18px;

}

.about-signup-btn {
    display: inline-block;
    position: static;
    margin-right: 16px;
}

.community-link {
    position: static;
    color: #3787ff;
}


.orange-background {
    position: absolute;
    z-index: -1;
    width: 230px;
    height: 50px;
    left: 130px;
}

.about h1 .has-back {
    display: inline;
    color: rgb(255, 255, 255);
}

.about .illo {
    height: 466px;
    width: 446px;
    position: absolute;
    bottom: 0px;
    right: 13px;
}

.main-content p {
    padding: 30px 0px;
    font-size: 20px;

}

main .services,
main .Overflow-ai,
main .business-solutions,
main .work-here {
    margin-top: 50px;
    background-color: white;
    flex-grow: 1;
    border-radius: 10px;
    padding: 0px 60px;
    overflow: hidden;
    position: relative;
    height: 400px;
    border: .5px solid rgba(0, 0, 0, 0.164);
}

.services .stack-logo {
    margin-top: 40px;
    height: 90px;
    position: relative;
    margin-bottom: 30px;
}

main .services .for-teams {
    position: absolute;
    top: 90px;
    left: 120px;
    color: #fd8d32;
    font-weight: bold;
}

.services .try-for-free {
    color: #3787ff;
    margin-left: 130px;

}

.home-teams {
    position: absolute;
    bottom: 0px;
    height: 330px;
    width: 564px;
    right: 0px;
}

main .Overflow-ai {
    background: #3B4045;
}

.Overflow-ai .Overflow-logo {
    height: 120px;
    margin-top: 25px;
}

.Overflow-ai p .now-available{
    color: white;
    font-weight: bold;
}

.Overflow-ai p{
    color: rgba(255, 255, 255, 0.767);
}

.Overflow-ai .supercharge{
    border-radius: 10px;
    padding: 13px;
    background-color: #fd8d32;
    text-decoration: none;
    color: white;
    display: block;
    margin-top: 30px;
    text-align: center;
    width: 230px;
    font-size: 19px;
}

main .business-solutions{
    border: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
    border-radius: 0;
    height: 300px;
    gap: 23px;
}

main .business-solutions .stack-advert,
main .business-solutions .stack-api{
    border: rgba(0, 0, 0, 0.26) 1px solid ;
    width:600px;
    padding-left: 50px;
    position: relative;
    border-radius: 10px;
}

main .business-solutions .logo{
    height: 200px;
}

#advert,#api{
    margin-top: 20px;
}

.business-solutions .stack-advert .a-advert{
    position: absolute;
    left: 250px;
    bottom: 67px;
    color: #3787ff;
}

.work-here .stack-logo-2 {
    padding-top: 50px;
    width: 350px;
}

body main .work-here{
    overflow: visible;
    margin-bottom: 80px;
}

.work-here .about-signup-btn{
    margin-top: 40px;
}

.careers{
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 635px;
    height: 500px;
}