body {
    background-color: rgb(229, 229, 240);
}

.form{
    background-color: white;
    margin: 100px auto;
    text-align: center;
    border-radius: 10px;
    padding: 10px 30px 30px 30px;
    width: fit-content;
}

h1{
    background-color: rgb(108, 108, 248);
    color: white;
    border-radius: 5px;
    padding: 12px;
}

.input-container {
    display: flex;
    gap: 0;
    margin-bottom: 30px;
}

.input-container input {
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    }

.input-container button {
    padding: 10px 20px;
    background-color: rgb(108, 108, 248);
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
}


.container {
    display: flex;
    gap: 20px;
    color: black;
    margin: 0 auto;
    width: fit-content;
}

.list {
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    font-size: 24px;
}

.list-1 { background-color: rgb(217, 217, 250); }
.list-2 { background-color: #5ec77d; text-decoration: line-through; }

.check_list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 338px;
}