* {
    margin: 0;
    padding: 0;
    font-family: poppins, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 2px 2px 5px 2px lightgray;
}

main {
    margin: 100px;
    width: 600px; 
    margin-left: 30%;
    border-radius: 7px;
}

h1 {
    background:#1E90FF;
    color: aliceblue; 
}

form > button {
    background: #1E90FF;
    float: right;
    text-align:center;
    padding: 10px;
    border-top-right-radius: 10px;
    border-end-end-radius: 10px ;
    border:2px solid #DCDCDC;
    color: white;
}

.data_input {
    width:414px;
    padding:10px;
    border-radius: 6px 0 0 6px;
    border:2px solid #DCDCDC;
}

.task1,.task2, h1 {
    width: 400px;
    padding: 10px 60px;
    margin: 10px;
    text-align:center;
    border:2px solid #DCDCDC;
    border-radius: 10px; 
    list-style: none;
}

.task {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
}

.task1  {
    background:#AFEEEE;
    margin-top: 10px;
    
}

.task2 {
    background:#8FBC8F;
    text-decoration-line: line-through
}
